body{background: #fff;color:#333}
.topbar{ background: whitesmoke;padding: 10px 0;color: #777;}
.topbar .right{text-align: right;}
.topbar .right .layui-icon{position: relative;top:1px;}

.header-middle-area{padding: 45px 0;display: flex;align-items: flex-start}
.header-middle-area .online-contract{align-self: center !important;}
.header-middle-area .online-contract li{ display:inline-block;padding-right: 20px;}
.header-middle-area .online-contract li .layui-icon{font-size: 18px;}
.header-middle-area .logo img {width: 100%;max-width: 220px;}
.header-middle-area .search-form{position: relative;}
.header-middle-area .search-form .layui-icon{position: absolute;right: 10px;top: 7px;font-size: 20px;color: #777;}
.header-middle-area .search-form input{border-left: 0px;border-top: 0px;border-right: 0px;width: 70%;margin-left: 20%}

.johny-navbar{width: 100%;background: linear-gradient(20deg,#3b5998 0%,#1bcaff 100%);height: 70px;line-height: 70px;}
.johny-navbar .layui-nav{border-radius: 0;background: none;padding: 0;text-align: center;}
.johny-navbar .layui-nav.left a{font-size: 16px;color: white;padding: 0 22px;}
.johny-navbar .layui-nav-bar{background: rgba(255,255,255,.6);}

.nav-title{display: block;font-size: 18px;position: relative;padding: 5px 0 0 10px;margin: 30px 0;}
.nav-title::before{content: '';display: block;height: 12px;width: 3px;background:#333333;position: absolute;top: 3px;left: 0; }
.nav-title::after{content: '';display: block;height: 3px;width:15px;background:#333333;position: absolute;top: 0px;left: 0; }
.nav-title.hot{color: #fc4a00;font-weight: bold;}
.nav-title.hot::before,.nav-title.hot::after{background: #fc4a00}

.johny-index-carousel{overflow:hidden;border-radius: 5px;}
.johny-index-carousel img{height:440px;border-radius: 5px;}
.johny-index-carousel .content-list{position: relative}
.johny-index-carousel .content-list a{display: block;height:440px;overflow: hidden;}
.johny-index-carousel .content-list h3{position: absolute;left: 0;bottom: 70px;right:0;z-index: 2;padding: 10px;line-height: 1.7rem;background: rgba(0, 0, 0, .5);color: white;}
.layui-carousel>[carousel-item]>*{background: white;}

.index-news .new-list{margin: 0 0 30px 30px;font-size: 12px;color: #999;}
.index-news .new-list a{display: block;}
.index-news .new-list a img{width: 100%;border-radius: 5px;}
.index-news .new-list a h3{font-size: 14px;padding: 10px 0 5px 0;}
.index-news .new-list .layui-icon{font-size: 12px;}



.clear{clear: both;}
.main{background: white;padding: 20px;box-shadow: rgba(0,0,0, .5) 0 0 1px;}
.main img{width: 100%;}
.right-box{background: white;padding: 20px;box-shadow: rgba(0,0,0, .5) 0 0 1px;}
.footer{background: white;padding: 20px;box-shadow: rgba(0,0,0, .5) -1px 0 1px;margin-top: 30px;}
